ul li a {
  transition: background-color 0.3s ease, color 0.3s ease;
}

ul li a:hover {
  background-color: transparent;
  color: #000;
}

ul {
  list-style-type: none;
}

ul li a {
  padding: 8px 12px;
}

.absolute {
  min-width: 160px;
}
